.tag {
  display: block;
  font-size: 5.0rem;
  font-weight: 900;
  margin-bottom: 2rem;
  color: #1a1a1a;
  text-align: center;
  margin-top: 9rem;
}

.heroSubtext {
  display: block;
  font-size: 1.5rem;
  font-weight: 500;
  margin-bottom: 2rem;
  color: #1a1a1a;
  text-align: center;

}


.teamGrid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
  margin: 6rem 0;
 
}

.teamMember img {
  width: 100%;
  aspect-ratio: 1/1.1;
  border-radius: 20px;
  object-fit: cover;
}

.teamMember h1 {
  font-size: 2.5rem;
  margin-top: 1rem;
}



.teamGrid p{
  font-size: 20px;
  margin-top: -25px;
}





.teamMember {
  overflow: hidden; 
  border-radius: 20px;
  height: 500px;
}


.teamMember img {
  width: 100%;
  aspect-ratio: 1 / 1.1;
  border-radius: 20px;
  object-fit: cover;
  transition: transform 0.4s ease-in-out; 
  display: block;
  height: 400px;
}



.teamMember img:hover {
  transform: scale(1.1); 
  cursor: pointer;
}

/* The Horizontal Row */
.infoRow {
  display: flex;
  justify-content: space-between; /* Pushes text left and tags right */
  align-items: center; /* Aligns them vertically in the middle */
  margin-top: 15px;
}

.memberName {
  font-size: 1.5rem;
  font-weight: 700;
  margin: 0;
}

.memberRole {
  font-size: 0.8rem;
  color: #666;
  margin: 2px 0 0 0;
  text-transform: uppercase;
  font-weight: 700;
  
}

.textGroup{
    margin-left: 10px;
}

/* Pill Tags */
.tagGroup {
  display: flex;
  gap: 10px;
  font-size: 0.3rem;
}

.pillTag {
  border: 1px solid #d1d1d1;
  padding: 4px 12px;
  border-radius: 50px; /* Essential for the pill shape */
  font-size: 0.75rem;
  color: #333;
  background: transparent;
  white-space: nowrap;
  font-weight: 500;
}

.sectionLabel{
    text-align: center;
    font-size: 5.5rem;
}

.metricsTitle {
  font-size: 4.0rem;
  margin-bottom: 60px;
  line-height: 1.2;
  margin-left: -220px;
}

.betricsTitle {
  font-size: 3.0rem;
  margin-bottom: 60px;
  line-height: 1.2;
  /* margin-left: -220px; */
  margin-top: -50px;
  text-align: center;
}

.nrowseLink {
  position: relative;
  display: inline-flex;
  align-items: center;
  font-size: 1.9rem;
  color: #1a1a1a;
  text-decoration: none;
  padding-bottom: 4px;
  gap: 8px;
  font-weight: 500;
  margin-left: 800px;
  margin-bottom: 20px;
}

.nrowseLink::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%; 
  height: 1px;
  background-color: #1a1a1a;
  transition: width 0.3s ease;
  
}

.nrowseLink:hover::after {
  width: 70%; 
}

.nrowseLink:hover .brrow {
  transform: rotate(45deg); 
}


.brrow {
  color: #1a56ff;
  font-size: 34px;
  font-weight: 700;
}

.browseLink:hover .brrow {
  transform: rotate(45deg); 
}

.heroImageContainer {
  width: 100vw;
  height: 500px;
  border-radius: 24px;
  overflow: hidden;
  
}

.heroImage {
  width: 100%;
  height: 100%;
  object-fit: cover;
}


