.container {
  padding: 100px 5%;
  background-color: #fff;
}

/* THE MAIN HEADER TEXT FROM YOUR 1ST IMAGE */
.mainHeading {
  font-size: 24px; /* Massive size */
  font-weight: 500;
  text-align: center;
  line-height: 1.1;
  letter-spacing: 1px;
  margin: 40px auto 100px;
  max-width: 1200px;
  font-family: 'Times New Roman';
}

.tag {
  display: block;
  text-align: center;
  font-weight: 900;
  letter-spacing: 2px;
  color: #191919;
  font-size: 80px;
  font-family: 'Times New Roman';
}

/* SPACING BETWEEN VIDEO BLOCKS */
.singleColumnStack {
  display: flex;
  flex-direction: column;
  gap: 50px; /* Space between the text of one and the video of next */
}

.videoCard {
  width: 100%;
}

.videoLink {
  display: block;
  width: 100%;
  border-radius: 20px;
  overflow: hidden;
  margin-bottom: 40px; /* Space between video and its title */
}

.projectVideo {
  width: 100%;
  display: block;
}

/* PROJECT TITLE AND ROLE */
.memberName {
  font-size: 3.5rem; /* Increased size */
  font-weight: 800;
  margin: 0;
  line-height: 1;
}

.memberRole {
  font-size: 1.5rem;
  color: #888;
  /* margin-top: 10px; */
  font-weight: 600;
}

/* THE THREE SIDE BUTTONS (PILLS) */
.infoRow {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.tagGroup {
  display: flex;
  gap: 5px;
}

.pillTag {
  border: 1px solid #ccc;
  padding: 15px 40px; /* Much larger padding for the pills */
  border-radius: 100px;
  font-size: 1.2rem;
  font-weight: 600;
  background-color: transparent;
  transition: all 0.3s ease;
}

.pillTag:hover {
  background-color: #000;
  color: #fff;
  border-color: #000;
}

/* Responsive fix for smaller screens */
@media (max-width: 1024px) {
  .mainHeading { font-size: 4rem; }
  .memberName { font-size: 3rem; }
  .pillTag { padding: 10px 25px; }
}

.sectionLabel{
    text-align: center;
    font-size: 5.5rem;
}

.metricsTitle {
  font-size: 4.0rem;
  margin-bottom: 60px;
  line-height: 1.2;
  margin-left: -220px;
}

.betricsTitle {
  font-size: 3.0rem;
  margin-bottom: 60px;
  line-height: 1.2;
  /* margin-left: -220px; */
  margin-top: -50px;
  text-align: center;
}

.nrowseLink {
  position: relative;
  display: inline-flex;
  align-items: center;
  font-size: 1.9rem;
  color: #1a1a1a;
  text-decoration: none;
  padding-bottom: 4px;
  gap: 8px;
  font-weight: 500;
  margin-left: 700px;
  margin-bottom: 20px;
}

.nrowseLink::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%; 
  height: 1px;
  background-color: #1a1a1a;
  transition: width 0.3s ease;
  
}

.nrowseLink:hover::after {
  width: 70%; 
}

.nrowseLink:hover .brrow {
  transform: rotate(45deg); 
}


.brrow {
  color: #1a56ff;
  font-size: 34px;
  font-weight: 700;
}

.browseLink:hover .brrow {
  transform: rotate(45deg); 
}

.heroImageContainer {
  width: 100vw;
  height: 500px;
  border-radius: 24px;
  overflow: hidden;
  /* margin-left: -350px; */
}

.heroImage {
  width: 100%;
  height: 100%;
  object-fit: cover;
}


